@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins-Regular.ttf');
  }

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins';
    margin: 0;
    background-color: #180A25;
} 


li{
    list-style-type: none;
}

/* header */

.drawer{
    display: none;
}

.header{
    height: 70px;
    display: flex;
    background-color: #180A25;
    justify-content: space-between;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    position: fixed;
    width: 100%;
    top: 0;
    -webkit-box-shadow: 0 3px 15px -6px black;
       -moz-box-shadow: 0 3px 15px -6px black;
            box-shadow: 0 3px 15px -6px black;
    z-index: 2;
    border-bottom: #6610B7 solid 1px;
}

.right{
    display: flex;
}

.logo{
    width: 70%;
}

.link{
    text-decoration: none;
    
}
.link_name{
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin: 20px;
    margin-left: 10px;
}

.link_name:hover{
    background: linear-gradient(90deg, #40EAF5 0%, #504DFF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}


.right a.active{
    background: linear-gradient(90deg, #40EAF5 0%, #504DFF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.media{
    margin: 5px;
    margin-top: 15px;
}

.media_container{
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 60px;
}


/* home */

#home{
    scroll-margin-top: 100px;
    background: linear-gradient(180deg, #3C075C 0%, #32055C 100%);
    margin-top: 97px;
    
}

.img{
    background-image: url('../images/home/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
   height: 100vh;
}

.home-container{
    padding-top: 100px;
    padding-left: 70px;
    width: 600px;
    padding-bottom: 100px;
}

.home_heading{
    font-size: 70px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 0;
}

.home_para{
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    margin-top: 0;
}

.para_logo{
   margin-left: 10px;
    color: #8A1BF6;
    
}


.explore{
    text-decoration: none;
    margin-bottom: 10px;
}


.explore_container{
    background: linear-gradient(181.41deg, #F55240 -16.37%, #8A1BF7 131.57%);
    display: flex;
    width: 170px;
    justify-content: center;
    border-radius: 50px;
    height: 50px;
}

.explore_para{
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    margin-left: 10px;
}

.explore_icon{
    width: 10%;
}


/* about */

#about{
    scroll-margin-top: 100px;

    background-image: url('../images/about/bg.svg');
    background-repeat: no-repeat;
    background-position: bottom 380px right 480px;
    margin-left: 100px;
    margin-right: 100px;
    height: 90vh;
    display: flex;
    
}

.about_left{
    margin-top: auto;
    margin-bottom: auto;
    width: 500px;
}

.about_heading{
    font-size: 30px;
    font-weight: 600;
    color: #70707C;
    margin-bottom: 30px;
}

.about_another_heading{
    color: #fff;
    font-weight: 600;
    font-size: 46px;
}

.about_subheading{
    color: #70707C;
    font-size: 18px;
    font-weight: 600;
}

.about_right{
    margin: auto;
  
}

.about_count{
    font-size: 77px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, #E50384 0%, #8A1BF7 68.02%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    margin-bottom: 0;
}

.about_count_subheading{
    font-size: 18px;
    color: #70707C;
    
}

.imiot_span{
    background: linear-gradient(90deg, #E50384 0%, #8A1BF7 68.02%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}


/* our way */

#our_way{
    scroll-margin-top: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    height: 100vh;
    
}


.our_way_left{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.about_heading{
    
}


.our_way_inlist{
    margin-left: -40px;
    list-style-type: none;
    margin-top: -30px;
}

.our_way_inlist:first-child{
    margin-top: 0px;
}

.our_way_hover{
    display: flex;
    text-decoration: none;
}

.count_para{
    font-size: 16px;
    color: #fff;
}

.list_para{
    color: #fff;
    font-size: 52px;
    font-weight: bold;
    margin-top: -10px;
    margin-left: 20px;
}



.our_way_inlist_hover{
    background: linear-gradient(90deg, #40EAF5 0%, #504DFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.our_way_right{
    background: linear-gradient(0deg, #201E2D 0%, #120F20 100%);
    border-radius: 14.22px;
    margin: auto;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
   

}

.our_way_para:nth-child(2){
    display: block;
  }


.our_way_para{
    font-size: 20px;
    color: #fff;
    display: none;
    margin-top: 0px;
    width: 550px;
}



/* product */

#product{
    scroll-margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;

}

.product_container{
    padding-top: 10px;
    
}

.product_list{
    display: flex;
    position: relative;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
    
}

.product_list.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
  }

.product_inlist{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: linear-gradient(150deg, #201E2D 0%, #120F20 100%);
    padding: 30px;
    height: 100%;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 150px;
}

.product_inlist:first-child{
    margin-left: 0px;
}

.product_inlist:last-child{
    margin-right: 0px;
    
}


.company{
    color: #fff;
    font-size: 20px;
    margin-bottom: -20px;
    
}

.product_name{
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: -20px;
}

.product_des{
    color: #70707C;
    font-size: 12px;
    width: 200px;
}

.product_inlist a{
    text-decoration: none;
}

.product_details{
    display: none;
   
}

.product_details_display{
    display: block;
    border: 1px solid #fff;
    font-size: 15px;
    color: #fff;
    text-align: center;
    margin-top: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.product_hover{
    background: linear-gradient(150deg, #260446 0%, #5707A5 100%);
    height: 100%;
    width: 300px;
    margin-right: -30px;
}


/* our team */

#our_team{
    scroll-margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    height: 100vh;
}

.scroll-container {
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: -60px;

  }

  .our_team_container{
    padding-top: 60px;
  }
  
  .team_list {
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
  }

  .team_list.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
  }

  .team_inlist{
    border-radius: 30px;
    margin: 30px;
    padding: 30px;
    background: linear-gradient(150deg, #201E2D 0%, #120F20 100%);
  }

  .team_inlist:nth-child(1){
    margin-left: -40px;
  }

  .team_img{
    border-radius: 20px;
    width: 200px;
    height: 180px;
    margin: auto;
    display: block;
   margin: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }

  .team_member{
    font-size: 20px;
    color: #fff;
    margin-bottom: 0px;
  }
  
  .team_position{
    margin-top: 0px;
    font-size: 18px;
    color: #fff;
  }


/* client */

#client{
    scroll-margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 130px;
}

.client_name{
    margin-top: 30px;
}

.client_list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.view_link{
    text-decoration: none;
    color: grey;
    font-size: 15px;
    font-weight: bold;
}

.view{
    text-align: center;
}

.client_inlist{
    width: 33%;
    height: 85px;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
}




.client_log{
    margin: auto;
    display: block;
    width: 70%;
}

.client_inlist:nth-child(3n + 1){

    border-right: 1px solid rgba(128, 128, 128, 0.1);
    border-top:  1px solid rgba(128, 128, 128, 0.1);
    
}

.client_inlist:nth-child(3n + 3){
    border-top: 1px solid rgba(128, 128, 128, 0.1);
    border-left: 1px solid rgba(128, 128, 128, 0.1);
    
}

.client_inlist:nth-child(3n + 2){
    border-top: 1px solid rgba(128, 128, 128, 0.1);
    
}

.client_inlist:first-child{
    border-top: 0px;
}

.client_inlist:nth-child(2){
    border-top: 0px;
}
.client_inlist:nth-child(3){
    border-top: 0px;
}


/* contact  */

#contact{
    scroll-margin-top: 100px;
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
   
    height: 100vh;
}

.form{
    display: flex;
    flex-direction: column;
    
}

label{
    color: #fff;
    font-size: 19px;
}

label span{
    color: #F90000;
}

input{
    background: none;
    border: none;
    font-size: 15px;
    padding: 15px;
    padding-left: 0px;
    padding-right: 200px;
    border-bottom: 1px solid grey;
    margin-bottom: 25px;
}

.email{
    width: 420px;
    padding-right: 0px;
}

.submit {
    background-color: transparent;
    border: none;
    color: #fff;
    border: 1px solid #F55240;
    text-align: center;
    width: 200px;
    border-radius: 30px;
    padding: 15px;
    margin: auto;
    margin-top: 0px;
  }

.left_contact{
margin-top: 0px;
}

.map{
    width: 75%;
   
}


/* footer */

.footer{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    border-top: 1px solid #7446AC;
}

.one{
   
}

.two{
   margin-left: -50px;
}

.three{
    
}

.footer a{
    text-decoration: none;
}

.footer_para{
    color: grey;
    font-size: 13px;
    margin: 0;
    text-decoration: none;
}

.footer_para span{
    background: linear-gradient(90deg, #40EAF5 0%, #504DFF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.footer_heading{
    color: grey;
    font-weight: bold;
    font-size: 15px;
}

.flex{
    display: flex;
    flex-direction: column;
}

.playstore{
    margin-top: 20px;
}


.bottom_text{
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.footer_media{
    display: flex;
    justify-content: space-around;
    border: 1px solid #9256C8;
    padding: 8px;
    width: 220px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    margin-top: 20px;
        
}

.footer_media_text{
    font-size: 15px;
    color: #fff;
    margin: 0%;
    margin-right: 10px;
}

.footer_media_img a{
    text-decoration: none;
}



.bottom_text span{
color: #F94612;
font-weight: bold;
}

.bottom_mobile_text{
    display: none;
}

/* responsive */


@media screen and (max-width: 1130px){

    .link_name{
        font-size: 14px;
        color: #fff;
        font-weight: 500;
        margin: 10px;
        margin-left: 10px;
        margin-top: 25px;
    }

    .our_way_right{

       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
    
    }
    
    .our_way_para{
        font-size: 20px;
        color: #fff;
        display: none;
        margin-top: 0px;
        width: 250px;
    }

    #our_way{
        scroll-margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 20px;
    }
    
    
    
    
   
}



@media screen and (max-width: 992px){

    .media{
        display: none;
    }

    .our_way_left{
        margin: 0;
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: -50px;
    }

    .our_way_para{
        font-size: 20px;
        color: #fff;
        display: none;
        margin-top: 0px;
        width: 100%;
    }

    #our_way{
        margin-left: 50px;
        margin-right: 50px;
    }

    #about{
        margin-left: 50px;
        margin-right: 50px;
    }

    #our_team{
        margin-left: 50px;
        margin-right: 50px;
    }

    #product{
        margin-left: 50px;
        margin-right: 50px;
    }

    .list_para{
        color: #fff;
        font-size: 25px;
        font-weight: bold;
        margin-top: 10px;
        margin-left: 20px;
    }

    .our_way_right{
        padding-bottom: 20px;
    }
    
    
    .img{
        height: min-content;
    }
   
}


@media screen and (max-width: 811px) {

.right{
    display: none;
}

.header_active{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    background: linear-gradient(150deg, #201E2D 0%, #120F20 100%);
    width: 90%;
    left: 0;
    text-align: center;
}

.drawer{
    width: 6%;
    display: block;
    padding-right: 50px;
}


.header{
    height: 40px;
}

.logo{
    width: 50%;
}

.media_container{
    display: none ;
}

#home{
    background-size: auto;
    margin-top: 71px;

}

#our_way{
    margin-left: 30px;
    margin-right: 30px;
}

#about{
    margin-left: 30px;
    margin-right: 30px;
}

#our_team{
    margin-left: 30px;
    margin-right: 30px;
}

#product{
    margin-left: -20px;
    margin-right: 20px;
}

#client{
    margin-left: 30px;
    margin-right: 30px;
}

#contact{
    margin-left: 30px;
    margin-right: 0px;
}


.home_heading{
    font-size: 30px;
    width: 200px;
}

.home_para{
    font-size: 12px;
}

.home-container{
    background: url('../images/home/gif.gif');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: -10px 0px;
}

.home-container{
    padding-left: 30px;
    width: 90%;
    padding-bottom: 50px;
}

.home_heading{
    padding-top: 50px;
}

.explore_container{

    margin-top: 50px;

}

}



@media screen and (max-width: 600px) {

    .client_heading{
        margin-left: 30px;
    }

    .our_way_inlist{
        margin-left: -134px;
    }

    .product_heading{
        margin-left: 40px;
       
    }

    .img{
        background-position: -226px 0px;
    }
    
    #about{
        flex-direction: column;
    }

    .about_heading{
        font-size: 24px;
        margin-bottom: 0px;
    }
    
    .about_left{
        margin-top: auto;
        margin-bottom: auto;
        width: 100%;
    }

    .about_another_heading{
        font-size: 30px;
    }

    .about_subheading{
        font-size: 12px;
    }
    
    .about_right{
        margin: 0;
        margin-right: auto;
    } 

    .about_count_subheading{
        width: 100px;
    }

    .our_way_heading{
        margin-bottom: 40px;
    }

    .our_way_inlist:first-child{
        margin-top: 30px;
    }
    .our_way_right{
        padding: 20px;
        margin-top: 10px;
        width: 90%;
    }

    .our_way_para{
        font-size: 11px;
        color: #fff;
        margin-top: 0px;
        width: 550px;
    }

    #product{
        scroll-margin-top: 50px;
       

    }
    .product_list{
        display: flex;
        position: relative;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-x: hidden;
        overflow-y: hidden;
        white-space: nowrap;
        transition: all 0.2s;
        transform: scale(0.98);
        will-change: transform;
        user-select: none;
        cursor: pointer;
        margin-top: -50px;
        
    }

    .product_inlist{
        margin: 20px;
        margin-left: 0%;
        margin-right: 0%;
    }

    .scroll-container {
        margin-top: 0px;
    
      }

      .client_inlist{
        width: 43%;
        height: 85px;
        padding: 20px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .client_inlist:nth-child(2n + 1){

        border-right: 1px solid rgba(128, 128, 128, 0.1);
        border-top:  1px solid rgba(128, 128, 128, 0.1);
        
    }
    
    .client_inlist:nth-child(2n + 2){
        border-top: 1px solid rgba(128, 128, 128, 0.1);
        
        
    }
    
    .client_inlist:first-child{
        border-top: 0px;
    }
    
    .client_inlist:nth-child(2){
        border-top: 0px;
    }
    
    .client_name{
       
    }

    .client_list{
        
        margin-top: 20px;
    }
    
      .client_log{
        width: 100%;
    }

    
        
    .client_inlist:nth-child(3n + 1){

        border-right: 0px;
        border-top:  0px;
        
    }

    .client_inlist:nth-child(3n + 3){
        border-top: 0px;
        border-left: 0px;
        
    }

    .client_inlist:nth-child(3n + 2){
        border-top: 0px;
        
    }

    .client_inlist:first-child{
        border-top: 0px;
    }

    .client_inlist:nth-child(2){
        border-top: 0px;
    }
    .client_inlist:nth-child(3){
        border-top: 0px;
    } 

    .client_inlist:nth-child(2n + 1){

        border-right: 1px solid rgba(128, 128, 128, 0.1);
        border-top:  1px solid rgba(128, 128, 128, 0.1);
        
    }

    .client_inlist:nth-child(2n + 2){
        border-top: 1px solid rgba(128, 128, 128, 0.1);
        
        
    }

    .client_inlist:first-child{
        border-top: 0px;
    }

    .client_inlist:nth-child(2){
        border-top: 0px;
    }

    #contact{
        scroll-margin-top: 100px;
        padding-left: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        background: url('../images/contact/map-copy.svg');
        background-size: 140%;
        background-position: 23px;
        background-repeat: no-repeat;
        padding-bottom: 50px;

    }

    #our_team{
        height: 80vh;
    }
    
    .left_contact{
        display: none;
    }

    .form{
        margin-top: 40px;
        
    }

    .submit {
        color: #fff;
        border: 1px solid #F55240;
        text-align: center;
        width: 150px;
        border-radius: 30px;
        padding: 11px;
        margin: 0;
        margin-top: 0px;
      }

      .footer{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin-top: -70px;
        border-top: 0px;
        margin-left: 30px;
        margin-right: 30px;
    }

    #client{
        scroll-margin-top: 100px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    .two{
    margin-left: 0px;
    }

    .footer_para{
        font-size: 10px;
    }

    .footer_heading{
        font-size: 11px;
    }

    .footer_log{
        width: 30%;
    }
    .three{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .playstore{
        width: 50%;
        height: 50%;
        padding-top: 21px;
    }
}



@media screen  and (max-width: 450px) {
    
    .bottom_text{
        display: none;
    }

    .bottom_mobile_text{
        display: block;
        font-size: 12px;
    }

    #our_way{
      
    }

    .product_inlist{
        height: auto;    
    }
    
    input{
        background: none;
        border: none;
        font-size: 11px;
        padding: 15px;
        padding-left: 0px;
        padding-right: 100px;
        border-bottom: 1px solid grey;
        margin-bottom: 25px;
    }
    
    .email{
        width: 300px;
        padding-right: 0px;
    }

    #about{
        scroll-margin-top: 100px;

        background-position: bottom 130px left 0px;
        
    }
    

}